
/* GENEARL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat"
}

a {
    color:black;
    text-decoration: none;
}


/* TITULOS */

/* PORTFOLIO  */
h1 {
    font-size: 200px;
    line-height: 80px;
    font-weight: bold;
}

/* SUBTITULO */
h2 {
    font-size: 100px;
    line-height: 80px;
    font-weight: bold;
}

/* MINI TITULOS TRABAJOS*/
h3 {
    font-size: 25px;
    line-height: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #1800AD;
    
} 

/* SOLO PARA CONTACTO */
h5 {
    font-size: 20px;
    line-height: 80px;
    font-weight: bold;
}

h6 {
    font-size: 20px;
    line-height: 80px;
    font-weight: bold;
}

/* ESTO QUE ES */
.wrapper {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 40px;
}

/* ESTO QUE ES */
nav {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
}


/* ANIMACIÓN
nav > ul > li > a:hover {
    color: #1800AD;
} */ */

/* NO SE PONE EN EL MEDIO */

header > div > h6 {
    padding: 80px 0;
    display: flex;
    row-gap: 60px;
    column-gap: 200px;
    flex-wrap: wrap;  
    justify-content: center;
    align-items: center;
}

header > div > h1,h6 {
    padding: 80px 0;
    display: flex;
    row-gap: 60px;
    column-gap: 200px;
    flex-wrap: wrap;  
    justify-content: center;
    align-items: center;
}



/* ESTO PARA QUE */
header {
    flex-wrap: wrap;
}

header {
    margin-top: 100px;
    gap: 10px;
    margin-bottom: 350px;
    align-content: center;
}


/* SECCION PORTADA (QUE ES?)*/
nav > div {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


/* SECCION PRESENTACION */
.Presentacion {
    display: flex;
    flex-direction: row;
    /* flex: 1; */
    align-items: center;
    /* justify-content: space-between; */
    justify-content: center;
    gap: 60px;
    margin-bottom: 200px;
}

.Presentacion > div > p {
    width: 450px;
}

#Presentacion > .Presentacion > div > .miarroba {
    margin-top: 20px;
}

/* ESTO QUE ES */ */
.Presentacion > div > p {
    width: 450px;
}


/* SECCION PROYECTOS */

.VIZLO {
    display: flex;
    flex-direction: row;
    /* flex: 1; */
    align-items: center;
    /* justify-content: space-between; */
    justify-content: center;
    gap: 60px;
}


.NÜMILK {
    display: flex;
    flex-direction: row;
    /* flex: 1; */
    align-items: center;
    /* justify-content: space-between; */
    justify-content: center;
    gap: 60px;
}


.THYSSEN {
    display: flex;
    flex-direction: row;
    /* flex: 1; */
    align-items: center;
    /* justify-content: space-between; */
    justify-content: center;
    gap: 60px;
    margin-bottom: 150px;
}

.numeros {
    margin-top: 20px;
}

/* FOOTER */
#footer >  .iconos.footer {
    display: flex;
    flex-direction: row;
    /* flex: 1; */
    align-items:end;
    /* justify-content: space-between; */
    justify-content: center;
    gap: 60px;
    margin-bottom: 300px;
}


#footer > .rowdown > {
    display: flex;
    flex-direction:row ;
    /* flex: 1; */
    align-items:end;
    /* justify-content: space-between; */
    justify-content: center;
    /* gap: 60px; */
    margin-bottom: 300px;
}

#footer > .rowdown {
    margin-top: 150px;
}




/* SOBRE MI  */
#Sobremi > .Sobremi{
    display: flex;
    flex-direction: row;
    /* flex: 1; */
    align-items: center;
    /* justify-content: space-between; */
    justify-content: center;
    gap: 60px;
    margin-bottom: 200px;
}

/* #Sobre mi > .Sobre mi > .div > .img {
    align-items: center;
} */

/* .Sobre mi> div > p {
    width: 450px;
} */

/* SOBRE MI EN NEGRITA */
/* nav > div> h2 { 
font-size: 18px;
font-weight: bold;
} */

#Sobre mi > .Sobre mi > div > img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

/* NO ENTIENDO */
#Sobre mi > .Sobre mi > div > p {
    width: 450px;
}



/* MEDIA QUERIES */

/* Este bloque de selectores solo funcionara cuando se cumpla la condicion de que la pantalla del usuario sea menor de 720px */

/* TABLET */
/* @media screen and (max-width: 720px) { 

    .wrapper {
        padding: 0 20px;
    }
    h1 {
        font-size: 48px;
    }
    #projects > .pro-row {
        flex-wrap: wrap;
    }
    #projects > .pro-row > .col {
        width: 100%;
    }

    footer > .f-row {
        flex-direction: column;
        align-items: center
    }
    footer > .f-row > .copyright {
        padding-top: 40px;
        text-align: center;
    } */

/* } */

/* MOBILE */
/* @media screen and (max-width: 480px) { 
    .wrapper {
        padding: 0 10px;
    } */
    /* Con opacity el elemento se vuelve transparente */
    /* header > div:last-child {
        opacity: 0;
    } */

    /* header > div:last-child {
        display: none;
    }
    
    } */