
/* GENEARL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

a {
    color:black;
    text-decoration: none;
}

.wrapper {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 40px;
}

/* TITULOS */

/* PORTFOLIO  */
h1 {
    font-size: 200px;
    line-height: 80px;
    font-weight: bold;
}

/* SUBTITULO */
h2 {
    font-size: 100px;
    line-height: 80px;
    font-weight: bold;
}

/* MINI TITULOS TRABAJOS*/
h3 {
    font-size: 30px;
    line-height: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #1800AD;
    
} 

/* SOLO PARA CONTACTO */
h5 {
    font-size: 20px;
    line-height: 80px;
    font-weight: bold;
}

h6 {
    font-size: 20px;
    line-height: 80px;
    font-weight: bold;
}

/* LO DE ARRIBA */

nav {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    margin-top: 20px;
}


/* ANIMACIÓN
nav > ul > li > a:hover {
    color: #1800AD;
} */ 

/* NO SE PONE EN EL MEDIO */

header > div > h6 {
    padding: 80px 0;
    display: flex;
    row-gap: 60px;
    column-gap: 200px;
    flex-wrap: wrap;  
    justify-content: center;
    align-items: center;
}

header > div > h1,h6 {
    padding: 80px 0;
    display: flex;
    row-gap: 60px;
    column-gap: 200px;
    flex-wrap: wrap;  
    justify-content: center;
    align-items: center;
}

header > div > img {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ESTO PARA QUE */
header {
    flex-wrap: wrap;
    background-color: #1800AD;
}

header {
    margin-top: 100px;
    gap: 10px;
    margin-bottom: 350px;
    align-content: center;
}


/* SECCION PORTADA (QUE ES?)*/
nav > div {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


/* SECCION PRESENTACION */
.Presentacion {
    display: flex;
    flex-direction: row;
    /* flex: 1; */
    align-items: center;
    /* justify-content: space-between; */
    justify-content: center;
    gap: 60px;
    margin-bottom: 200px;
    flex-wrap: wrap;
    
}

.Presentacion > div > p {
    width: 450px;
}

#Presentacion > .Presentacion > div > .miarroba {
    margin-top: 20px;
}

/* ESTO QUE ES */ 
.Presentacion > div > p {
    width: 450px;
}


/* SECCION PROYECTOS */

.VIZLO {
    display: flex;
    flex-direction: row;
    /* flex: 1; */
    align-items: center;
    /* justify-content: space-between; */
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

#Proyectos > .VIZLO > .texto {
    flex:45%
}


.NÜMILK {
    display: flex;
    flex-direction: row;
    /* flex: 1; */
    align-items: center;
    /* justify-content: space-between; */
    justify-content: center;
    gap: 60px;
}


.THYSSEN {
    display: flex;
    flex-direction: row;
    /* flex: 1; */
    align-items: center;
    /* justify-content: space-between; */
    justify-content: center;
    gap: 60px;
    margin-bottom: 150px;
}

.numeros {
    margin-top: 20px;
}

/* FOOTER */
#footer >  .iconos-footer {
    font-size: 24px;
    display: flex;
    gap: 24px;
    padding: 24px 0;
}


#footer > .rowdown {
    display: flex;
    flex-direction:row ;
    flex-wrap: wrap;
    /* flex: 1; */
    align-items:end;
    /* justify-content: space-between; */
    justify-content: space-between;
    /* gap: 1000px;  */

}

#footer > .rowdown {
    margin-top: 150px;
    margin-bottom: 50px;
}

#footer > .rowdown > .copyright {
    text-align:end;
}

#footer > .iconos.footer {
    display: flex;
    align-content: end;
}

/* SOBRE MI  */
#Sobremi > .Sobremi{
    display: flex;
    flex-direction: row;
    /* flex: 1; */
    align-items: center;
    /* justify-content: space-between; */
    justify-content: center;
    gap: 180px;
    margin-bottom: 200px;
}


/* FORMACION */
#Formación > .fila-1 {
    display: flex;
    flex-direction: row;
    /* flex: 1; */
    /* align-items: center; */
    /* justify-content: space-between; */
    justify-content: space-between;
    /* gap: 60px; */
    margin-bottom: 130px;
    flex-wrap: wrap;
}

#Formación > .fila-2 {
    display: flex;
    flex-direction: row;
    /* flex: 1; */
    /* align-items: center; */
    /* justify-content: space-between; */
    justify-content: space-between;
    /* gap: 20px;  */
    margin-bottom: 150px;
    flex-wrap: wrap;
}


/* SOBRE MI EN NEGRITA */

/* nav > div> h2 { 
font-size: 18px;
font-weight: bold;
} */

#Sobremi > .Sobremi {
    margin-top: 80px;
    flex-wrap: wrap;
}


#Sobremi > .Sobremi > div > img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

#Sobremi > .Sobremi > div > p {
    width: 450px;
}

#Sobremi > .Sobremi {
    margin-top: 80px;
}

#Formación > h2 {
    margin-bottom: 80px;
}




/* MEDIA QUERIES */

/* Este bloque de selectores solo funcionara cuando se cumpla la condicion de que la pantalla del usuario sea menor de 720px */

/* TABLET 
@media screen and (max-width: 720px) { 

    .wrapper {
        padding: 0 20px;
    }
    h1 {
        font-size: 48px;
    }
    #projects > .pro-row {
        flex-wrap: wrap;
    }
    #projects > .pro-row > .col {
        width: 100%;
    }

    footer > .f-row {
        flex-direction: column;
        align-items: center
    }
    footer > .f-row > .copyright {
        padding-top: 40px;
        text-align: center;
    } 

}  */

/* MOBILE */
/* @media screen and (max-width: 480px) { 
    .wrapper {
        padding: 0 10px;
    } */
    /* Con opacity el elemento se vuelve transparente */
    /* header > div:last-child {
        opacity: 0;
    } */

    /* header > div:last-child {
        display: none;
    }