
/* GENEARL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

a {
    color:black;
    text-decoration: none;
}

.wrapper {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 40px;
}


img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}




/* TIPOGRAFÍA (TÍTULOS) */
/* PORTFOLIO  */
h1 {
    font-size: 200px;
    line-height: 80px;
    font-weight: bold;
}

/* SUBTITULO */
h2 {
    font-size: 100px;
    line-height: 80px;
    font-weight: bold;
}

/* MINI TITULOS TRABAJOS*/
h3 {
    font-size: 30px;
    line-height: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #1800AD;
    
} 

/* SOLO PARA CONTACTO */
h5 {
    font-size: 20px;
    line-height: 80px;
    font-weight: bold;
}


/* BY AITANA */

h6 {
    font-size: 20px;
    line-height: 80px;
    font-weight: bold;
}






/* LO DE ARRIBA */

/* ANIMACIÓN */
nav > a:hover {
    color:#1800AD;
} 

nav > div.arriba > a:hover {
    color: #1800AD;
}



nav {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    margin-top: 20px;
}

nav > div {
    display: flex;
    flex-direction: row;
    gap: 20px;
}





/* PORTADA */

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
    margin-bottom: 200px;
}

header > div > h1 {
    margin-top: 80px;
}

header > div > img {
    margin-top: 150px;
}




/* SECCION PRESENTACION */
.Presentacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-bottom: 200px;
    flex-wrap: wrap;
}

.Presentacion > div > p {
    width: 450px;
}

#Presentacion > .Presentacion > div > .miarroba {
    margin-top: 20px;
}

#Presentacion > .Presentacion > div > .iconos-redes {
    font-size: 30px;
    display: flex;
    gap: 10px;
    padding: 24px 0;
    justify-content: center;
}





/* SECCION PROYECTOS */

.VIZLO {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
    flex-wrap:wrap;
}

#Proyectos > .VIZLO > .texto-vizlo {
    flex:45%
}

#Proyectos > .VIZLO > .imagen-vizlo {
    flex:45%;
    width:100%;
} 

.NÜMILK {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

#Proyectos > .NÜMILK > .texto-numilk {
    flex:45%
}

#Proyectos > .NÜMILK > .imagen-numilk {
    flex:45%
}

.THYSSEN {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-bottom: 150px;
    flex-wrap: wrap;
}

#Proyectos > .THYSSEN > .texto-thyssen {
    flex:45%
}

#Proyectos > .THYSSEN > .imagen-thyssen {
    flex:45%
}

.numeros {
    margin-top: 20px;
}






/* SOBRE MI  */
#Sobremi > .Sobremi{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 180px;
    margin-bottom: 200px;
}

#Sobremi > .Sobremi {
    margin-top: 80px;
    flex-wrap: wrap;
}

#Sobremi > .Sobremi > div > img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

#Sobremi > .Sobremi > div > p {
    width: 450px;
}

#Sobremi > .Sobremi {
    margin-top: 80px;
}






/* FORMACION */
#Formación > .fila-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 130px;
    flex-wrap: wrap;
}

#Formación > .fila-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 150px;
    flex-wrap: wrap;
}
#Formación > h2 {
    margin-bottom: 80px;
}

#Formación > .fila-1 > .IDIOMAS {
    text-align: end;
}

#Formación > .fila-2 > .SKILLS {
    text-align: end;
}


.bold {
    font-weight: bold;
}






/* GALERIA */
#Galeria {
    padding: 20px 0 80px 0;
}

#Galeria > ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#Galeria > ul > li {
    flex: 30%;
}


#Galeria > ul > li {
    flex-grow: 1;
}

#Galeria > ul > li > img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
}


#Galeria > h2 {
    margin-top: 80px;
    margin-bottom: 80px;
}






/* FOOTER */
#footer >  .iconos-footer {
    font-size: 30px;
    display: flex;
    gap: 10px;
    justify-content: end;
}


#footer > .rowdown {
    display: flex;
    flex-direction:row ;
    flex-wrap: wrap;
    align-items:end;
    justify-content: space-between;

}

#footer > .rowdown {
    margin-top: 100px;
    margin-bottom: 50px;
}

#footer > .rowdown > .copyright {
    text-align:end;
}

#footer > .iconos-footer {
    display: flex;
    align-content: end;
    margin-top: 50px;
}






/* MEDIA QUERIES */

/* Este bloque de selectores solo funcionara cuando se cumpla la condicion de que la pantalla del usuario sea menor de 720px */

/* TABLET  */
@media screen and (max-width: 1320px) { 

    /* GENERAL  */
    .wrapper {
        padding: 20px;
    }
    h1 {
        font-size: 130px;
    }

    h2 {
        font-size: 90px;
    }

    h3 {
        font-size: 25px;
        line-height: 60px;
    }

    h6 {
        font-size: 18px;
    }

    p {
       font-size: 14px; 
    }




    /* PORTADA */
    header > div > img {
        width: 100%;
    }





    /* PRESENTACION  */

    #Presentacion > .Presentacion > div > img {
        width: 90%;
    }

    #Presentacion {
        display: flex;
        text-align: center;
        justify-content: center;
        justify-items: center;
    }
    
    .Presentacion {
        margin-bottom: 150px;
    }
    
    /* #Presentacion > .Presentacion > div > .iconos-redes {
        align-items: center;
        text-align: center ;
        align-content: center;
    } */ */




    /* PROYECTOS */
    #Proyectos > .VIZLO > .imagen-vizlo > img {
        width: 100%;
    } 
    
    #Proyectos > .VIZLO {
        margin-top: 100px;
        gap: 10px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: row;
    }

    #Proyectos > .NÜMILK > .imagen-numilk > img {
        width: 100%;
    } 
    
    #Proyectos > .NÜMILK {
        margin-top: 50px;
        gap: 10px;
        margin-bottom: 50px;
    }

    #Proyectos > .THYSSEN > .imagen-thyssen > img {
        width: 100%;
    } 
    
    #Proyectos > .THYSSEN {
        margin-top: 50px;
        gap: 10px;
        margin-bottom: 100px;
    }



    /* SOBREMI  */
    #Sobremi > .Sobremi {
        display: flex;
        text-align: center;
        margin-bottom: 100px;
        gap: 30px;
        
    }
    
    #Sobremi > .Sobremi > div > .Firma {
        width: 80%;
        margin-top: 20px;
    }
    


    /* FORMACION  */
    #Formación > .fila-1 {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-bottom: 50px;
    }
    
    #Formación > .fila-1 > .IDIOMAS {
        display: flex;  
        flex-direction: column;
        text-align: left;
    }
    
    #Formación > .fila-2 {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-bottom: 50px;
    }
    
    #Formación > .fila-2 > .SKILLS {
        display: flex;
        text-align: left;
        flex-direction: column;
    }
    
    #Formación > .fila-2 > .SKILLS > img {
        width: 40%;
        margin-bottom: 100px;
    }
    
    
    
    /* GALERIA  */
    
    #Galeria > ul > li {
    flex: 50%;
    }

}


/* MOBILE  */
@media screen and (max-width: 650px) { 
    /* GENERAL  */
    .wrapper {
        padding: 10px;
    }
    h1 {
        font-size: 90px;
    }

    h2 {
        font-size: 60px;
    }

    h3 {
        font-size: 25px;
        line-height: 60px;
    }

    h6 {
        font-size: 14px;
    }

    p {
       font-size: 14px; 
    }



     /* PRESENTACION  */
    #Presentacion > .Presentacion > div > img {
        width: 100%;
    }

    .Presentacion {
        gap: 30px;
        margin-bottom: 50px;
    }


    
    /* PROYECTOS */ 
    #Proyectos > .VIZLO {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 20px;
        margin-bottom: 100px;
    }

    #Proyectos > .NÜMILK {
        display: flex;
        flex-direction:column;
        margin-bottom: 100px;
    }

    #Proyectos > .THYSSEN {
        display: flex;
        flex-direction:column-reverse;
    }


    /* FORMACION  */
    #Formación > h2 {
        margin-bottom: 40px;
    }

    #Formación > .fila-2 > .SKILLS > img {
        width: 50%;
        margin-bottom: 70px;
    }



} 